.version.cronologie /* version checker */
{
	color: #000018;
	background-color: #B925FC;
}

.html
{
	background-color: #FFDDBC;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 765px;
	margin-left: auto;
	margin-right: auto;
}

#u74
{
	z-index: 281;
	padding-bottom: 470px;
}

#u74_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	left: -100px;
}

#menuu112
{
	z-index: 282;
	width: 907px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 180px;
}

#u120
{
	width: 165px;
	min-height: 74px;
	margin-right: -10000px;
}

#u123
{
	width: 165px;
	padding-bottom: 52px;
}

#u123:hover
{
	margin: 0px;
}

#u124-4
{
	width: 60px;
	min-height: 22px;
	margin-right: -10000px;
	top: 26px;
	left: 52px;
}

#u123:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u113
{
	width: 210px;
	min-height: 74px;
	margin-right: -10000px;
	left: 167px;
}

#u114
{
	width: 210px;
	padding-bottom: 52px;
}

#u123.MuseMenuActive,#u114:hover
{
	margin: 0px;
}

#u115-4
{
	width: 106px;
	min-height: 22px;
	margin-right: -10000px;
	top: 26px;
	left: 52px;
}

#u123.MuseMenuActive #u124-4,#u114:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u128
{
	width: 258px;
	min-height: 74px;
	margin-right: -10000px;
	left: 379px;
}

#u131
{
	width: 258px;
	padding-bottom: 52px;
}

#u114.MuseMenuActive,#u131:hover
{
	margin: 0px;
}

#u133-4
{
	width: 140px;
	min-height: 22px;
	margin-right: -10000px;
	top: 26px;
	left: 52px;
}

#u114.MuseMenuActive #u115-4,#u131:hover #u133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u134
{
	z-index: 301;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 30px;
	left: 192px;
}

#u131:hover #u134
{
	margin: 0px -10000px 0px 0px;
}

#u131.MuseMenuActive #u134
{
	margin: 0px -10000px 0px 0px;
}

#u129
{
	width: 120px;
	top: 74px;
}

#u130,#u710
{
	width: 120px;
}

#u711
{
	width: 118px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u711:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u711.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u713-4
{
	width: 72px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 19px;
}

#u135
{
	width: 268px;
	min-height: 74px;
	margin-right: -10000px;
	left: 639px;
}

#u136
{
	width: 268px;
	padding-bottom: 52px;
}

#u131.MuseMenuActive,#u136:hover
{
	margin: 0px;
}

#u136.MuseMenuActive
{
	margin: 0px;
}

#u139-4
{
	width: 164px;
	min-height: 22px;
	margin-right: -10000px;
	top: 26px;
	left: 52px;
}

#u131.MuseMenuActive #u133-4,#u136:hover #u139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u136.MuseMenuActive #u139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u74-bw
{
	z-index: 281;
	height: 114px;
}

#pu280-11
{
	width: 0.01px;
	margin-left: -8px;
	margin-top: 22px;
}

#u280-11
{
	z-index: 7;
	width: 490px;
	min-height: 462px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 8px;
}

#u648-12
{
	z-index: 18;
	width: 490px;
	min-height: 462px;
	position: relative;
	margin-right: -10000px;
	left: 554px;
}

#u650-9
{
	z-index: 30;
	width: 490px;
	min-height: 462px;
	position: relative;
	margin-right: -10000px;
	margin-top: 359px;
	left: 11px;
}

#u651-11
{
	z-index: 39;
	width: 490px;
	min-height: 462px;
	position: relative;
	margin-right: -10000px;
	margin-top: 595px;
	left: 17px;
}

#u652-11
{
	z-index: 50;
	width: 490px;
	min-height: 462px;
	position: relative;
	margin-right: -10000px;
	margin-top: 915px;
	left: 17px;
}

#u653-11
{
	z-index: 61;
	width: 490px;
	min-height: 462px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1132px;
	left: 25px;
}

#u924
{
	z-index: 72;
	width: 230px;
	border-width: 8px;
	border-style: solid;
	border-color: #754C24;
	background-color: transparent;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-khtml-border-radius: 90px;
	border-radius: 90px;
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 576px;
}

#u924_img
{
	padding-bottom: 1px;
}

#u930
{
	z-index: 74;
	width: 391px;
	border-width: 8px;
	border-style: solid;
	border-color: #754C24;
	background-color: transparent;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-khtml-border-radius: 90px;
	border-radius: 90px;
	position: relative;
	margin-right: -10000px;
	margin-top: 604px;
	left: 505px;
}

#u936
{
	z-index: 76;
	width: 125px;
	border-width: 8px;
	border-style: solid;
	border-color: #754C24;
	background-color: transparent;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-khtml-border-radius: 90px;
	border-radius: 90px;
	position: relative;
	margin-right: -10000px;
	margin-top: 864px;
	left: 936px;
}

#u924 .clip_frame,#u930 .clip_frame,#u936 .clip_frame
{
	-webkit-border-radius: 82px 82px 82px 82px;
}

#u936_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u942
{
	z-index: 78;
	width: 560px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1124px;
	left: 515px;
}

#u948-11
{
	z-index: 80;
	width: 1019px;
	min-height: 462px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1332px;
	left: 15px;
}

#u949-12
{
	z-index: 91;
	width: 490px;
	min-height: 462px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1676px;
	left: 1px;
}

#u960
{
	z-index: 123;
	width: 507px;
	border-width: 6px;
	border-style: solid;
	border-color: #754C24;
	background-color: transparent;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	-khtml-border-radius: 80px;
	border-radius: 80px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1679px;
	left: 523px;
}

#u960 .clip_frame
{
	-webkit-border-radius: 74px 74px 74px 74px;
}

#u1000
{
	z-index: 125;
	width: 566px;
	margin-bottom: -11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1944px;
	left: -11px;
}

#u950-11
{
	z-index: 126;
	width: 490px;
	min-height: 462px;
	position: relative;
	margin-right: -10000px;
	left: 12px;
}

#u966
{
	z-index: 137;
	width: 544px;
	border-width: 11px;
	border-style: solid;
	border-color: #006837;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 243px;
}

#u1001
{
	z-index: 139;
	width: 506px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2013px;
	left: 576px;
}

#u951-11
{
	z-index: 140;
	width: 490px;
	min-height: 462px;
	position: relative;
	margin-right: -10000px;
}

#u972
{
	z-index: 151;
	width: 502px;
	position: relative;
	margin-right: -10000px;
	margin-top: 342px;
	left: 4px;
}

#pu952-12
{
	width: 0.01px;
	margin-left: -11px;
	margin-top: 15px;
}

#u952-12
{
	z-index: 103;
	width: 239px;
	min-height: 208px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 61px;
}

#u953-8
{
	z-index: 115;
	width: 1106px;
	min-height: 462px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1055px;
	left: 2px;
}

#u981
{
	z-index: 153;
	width: 755px;
	position: relative;
	margin-right: -10000px;
	left: 318px;
}

#u989
{
	z-index: 155;
	width: 303px;
	border-width: 5px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-khtml-border-radius: 12px;
	border-radius: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 633px;
	left: -5px;
}

#u989 .clip_frame
{
	-webkit-border-radius: 7px 7px 7px 7px;
}

#u996-8
{
	z-index: 157;
	width: 490px;
	min-height: 462px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1200px;
	left: 4px;
}

#u997-8
{
	z-index: 165;
	width: 490px;
	min-height: 462px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1640px;
	left: 8px;
}

#u998-11
{
	z-index: 173;
	width: 1082px;
	min-height: 462px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2522px;
	left: 6px;
}

#u999-10
{
	z-index: 184;
	width: 490px;
	min-height: 462px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2118px;
	left: 4px;
}

#u1002
{
	z-index: 194;
	width: 589px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1210px;
	left: 509px;
}

#u1008
{
	z-index: 196;
	width: 517px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2168px;
	left: 546px;
}

#u1014
{
	z-index: 198;
	width: 533px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2814px;
	left: 9px;
}

#u1020-11
{
	z-index: 200;
	width: 497px;
	min-height: 462px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3191px;
	left: 12px;
}

#u1021
{
	z-index: 211;
	width: 545px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2932px;
	left: 551px;
}

#u1027
{
	z-index: 213;
	width: 142px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3185px;
	left: 379px;
}

#u1031-66
{
	z-index: 215;
	width: 1070px;
	min-height: 462px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3811px;
	left: 2px;
}

#u280,#u280-3,#u648,#u648-3,#u650,#u650-3,#u651,#u651-3,#u652,#u652-3,#u653,#u653-3,#u948,#u948-3,#u949,#u949-3,#u950,#u950-3,#u951,#u951-3,#u952,#u952-3,#u953,#u953-3,#u996,#u996-3,#u997,#u997-3,#u998,#u998-3,#u999,#u999-3,#u1020,#u1020-3,#u1031,#u1031-3,#u1031-9,#u1031-21,#u1031-37
{
	line-height: 43px;
}

#u143
{
	z-index: 2;
	padding-bottom: 9px;
}

#u143_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	left: -100px;
	margin-bottom: -2px;
}

#u203-4
{
	z-index: 3;
	width: 1000px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 90px;
}

#u143-bw
{
	z-index: 2;
	margin-top: -2px;
	height: 53px;
}

body
{
	position: relative;
	min-width: 1000px;
}

#page .verticalspacer
{
	clear: both;
}

