.version.index /* version checker */
{
	color: #0000ED;
	background-color: #53A5D2;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 764.9999999999993px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FE5105;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#u74
{
	z-index: 25;
	padding-bottom: 470px;
}

#menuu112
{
	z-index: 26;
	width: 907px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 180px;
}

#u120
{
	width: 165px;
	min-height: 74px;
	margin-right: -10000px;
}

#u123
{
	width: 165px;
	padding-bottom: 52px;
}

#u123:hover
{
	margin: 0px;
}

#u124-4
{
	width: 60px;
	min-height: 22px;
	margin-right: -10000px;
	top: 26px;
	left: 52px;
}

#u123:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u113
{
	width: 210px;
	min-height: 74px;
	margin-right: -10000px;
	left: 167px;
}

#u114
{
	width: 210px;
	padding-bottom: 52px;
}

#u123.MuseMenuActive,#u114:hover
{
	margin: 0px;
}

#u115-4
{
	width: 106px;
	min-height: 22px;
	margin-right: -10000px;
	top: 26px;
	left: 52px;
}

#u123.MuseMenuActive #u124-4,#u114:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u128
{
	width: 258px;
	min-height: 74px;
	margin-right: -10000px;
	left: 379px;
}

#u131
{
	width: 258px;
	padding-bottom: 52px;
}

#u114.MuseMenuActive,#u131:hover
{
	margin: 0px;
}

#u133-4
{
	width: 140px;
	min-height: 22px;
	margin-right: -10000px;
	top: 26px;
	left: 52px;
}

#u114.MuseMenuActive #u115-4,#u131:hover #u133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u134
{
	z-index: 45;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 30px;
	left: 192px;
}

#u131:hover #u134
{
	margin: 0px -10000px 0px 0px;
}

#u131.MuseMenuActive #u134
{
	margin: 0px -10000px 0px 0px;
}

#u129
{
	width: 120px;
	top: 74px;
}

#u130,#u710
{
	width: 120px;
}

#u711
{
	width: 118px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u711:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u711.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u713-4
{
	width: 72px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 19px;
}

#u135
{
	width: 268px;
	min-height: 74px;
	margin-right: -10000px;
	left: 639px;
}

#u136
{
	width: 268px;
	padding-bottom: 52px;
}

#u131.MuseMenuActive,#u136:hover
{
	margin: 0px;
}

#u136.MuseMenuActive
{
	margin: 0px;
}

#u139-4
{
	width: 164px;
	min-height: 22px;
	margin-right: -10000px;
	top: 26px;
	left: 52px;
}

#u131.MuseMenuActive #u133-4,#u136:hover #u139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u136.MuseMenuActive #u139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u74-bw
{
	z-index: 25;
	height: 114px;
}

#u190
{
	z-index: 9;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-bottom: 108px;
	background: #FFFFFF url("../images/sunset.jpg") no-repeat left top;
	background-size: cover;
}

#u190_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 999px;
	position: relative;
	left: -100px;
}

#u197-7
{
	z-index: 10;
	width: 1000px;
	min-height: 144px;
	color: #FFFFFF;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 236px;
	left: 99px;
}

#u197-2,#u197-3
{
	font-size: 74px;
	line-height: 89px;
}

#u197-5
{
	font-size: 180px;
	line-height: 216px;
}

#u190-bw
{
	z-index: 9;
	height: 721px;
}

#u199
{
	z-index: 7;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #CCCCCC;
	padding-bottom: 23px;
}

#u199_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 999px;
	position: relative;
	left: -100px;
	margin-bottom: -1px;
}

#u200
{
	z-index: 8;
	width: 680px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 259px;
}

#u201-5
{
	z-index: 17;
	width: 660px;
	min-height: 56px;
	text-align: center;
	font-family: bree-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 10px;
}

#u201-2
{
	font-size: 22px;
	line-height: 26px;
	padding-bottom: 8px;
	color: #10162E;
}

#u201-3
{
	font-size: 14px;
	color: #7F7F7F;
}

#u199-bw
{
	z-index: 7;
	margin-top: -1px;
	height: 502px;
}

#pu143
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2px;
}

#u143
{
	z-index: 2;
	padding-bottom: 9px;
}

#u74_align_to_page,#u143_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	left: -100px;
}

#u203-4
{
	z-index: 3;
	width: 1000px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 90px;
}

#u143-bw
{
	z-index: 2;
	height: 53px;
}

#u709-3
{
	z-index: 22;
	width: 261px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 760px;
}

body
{
	position: relative;
	min-width: 1000px;
}

#page .verticalspacer
{
	clear: both;
}

