#u74
{
	border-style: none;
	border-color: transparent;
	background: #FFFFFF url("../images/razboisld.jpg") no-repeat left top;
	background-size: cover;
}

#menuu112
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFE3E0;
	background-color: #754C24;
	position: relative;
}

#u123
{
	background-color: #998675;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-khtml-border-radius: 90px;
	border-radius: 90px;
	position: relative;
}

#u123:hover
{
	background-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u124-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #000000;
	font-size: 18px;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	position: relative;
}

#u123:hover #u124-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u114
{
	background-color: #998675;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-khtml-border-radius: 90px;
	border-radius: 90px;
	position: relative;
}

#u123.MuseMenuActive,#u114:hover
{
	background-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u115-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #000000;
	font-size: 18px;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	position: relative;
}

#u123.MuseMenuActive #u124-4 p,#u114:hover #u115-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u131
{
	background-color: #998675;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-khtml-border-radius: 90px;
	border-radius: 90px;
	position: relative;
}

#u114.MuseMenuActive,#u131:hover
{
	background-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u133-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #000000;
	font-size: 18px;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	position: relative;
}

#u114.MuseMenuActive #u115-4 p,#u131:hover #u133-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u134
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u131:hover #u134
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u131.MuseMenuActive #u134
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u130
{
	background-color: #000000;
	position: relative;
}

#u711
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #998675;
	position: relative;
}

#u711:hover
{
	background-color: #AAAAAA;
}

#u711.MuseMenuActive
{
	background-color: #666666;
}

#u713-4
{
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	position: relative;
}

#u136
{
	background-color: #998675;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	-khtml-border-radius: 90px;
	border-radius: 90px;
	position: relative;
}

#u131.MuseMenuActive,#u136:hover
{
	background-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u136.MuseMenuActive
{
	background-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u139-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #000000;
	font-size: 18px;
	text-align: center;
	font-family: alfa-slab-one, serif;
	font-weight: 400;
	position: relative;
}

#u131.MuseMenuActive #u133-4 p,#u136:hover #u139-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u136.MuseMenuActive #u139-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u143
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u74_align_to_page,#u120,#u113,#u128,#u710,#u135,#u143_align_to_page
{
	position: relative;
}

#u203-4
{
	line-height: 43px;
	color: #7F7F7F;
	font-size: 36px;
	text-align: center;
	position: relative;
}

